{% if certificates_tls is defined %}
{%  for namespace in namespace_list %}
apiVersion: v1
data:
{% if workspace == "shared" %}
  tls.crt: {{ encode_cert_tls_crt }}
  tls.key: {{ encode_cert_tls_key }}
{% else %}
  tls.crt: {{ encode_cert_tls_crt_tec }}
  tls.key: {{ encode_cert_tls_key_tec }}
{% endif %}
kind: Secret
metadata:
  name: {{ ingress_certificate_secret }}
  namespace: {{ namespace }}
type: kubernetes.io/tls
{% endfor %}
{% else %}
{% endif %}