{% if tool_secrets == 'jenkins' %}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ admin_user_credentials_secret_jenkins }}
  namespace: {{ namespace_devops }}
data:
  jenkins-admin-password: {{ admin_user_password_value_jenkins | b64encode }}
  jenkins-admin-user: {{ admin_user_user_value_jenkins | b64encode }}

{% else %}
{% endif %}

{% if tool_secrets == 'sonar' %}
apiVersion: v1
data:
  postgresql-password: {{ psql_pwd_value }}
kind: Secret
metadata:
  name: {{ postgresql_database_secret }}
  namespace: {{ namespace_devops }}
type: Opaque
{% else %}
{% endif %}


{% if secrets_artifactory is defined %}
apiVersion: v1
data:
  database-password: {{ database_connection_secret_password | b64encode }}
  database-url: {{ database_connection_secret_url | b64encode }}
  database-user: {{ database_connection_secret_user | b64encode }}
kind: Secret
metadata:
  name: {{ database_connection_secret }}
  namespace: {{ namespace_devops }}
type: Opaque

---
apiVersion: v1
data:
  master-key: {{ artifactory_masterkey_secret_value | b64encode  }}
kind: Secret
metadata:
  name: {{ artifactory_masterkey_secret }}
  namespace: {{ namespace_devops }}
type: Opaque
{% else %}
{% endif %}


{% if secrets_jcontainer_reg_masterkey is defined %}
apiVersion: v1
data:
  master-key: {{ containerregistry_masterkey_secret_value | b64encode  }}
kind: Secret
metadata:
  name: {{ containerregistry_masterkey_secret }}
  namespace: {{ namespace_devops }}
type: Opaque
{% else %}
{% endif %}

{% if secrets_jcontainer_reg is defined %}
apiVersion: v1
data:
  database-password: {{ database_connection_secret_password | b64encode }}
  database-url: {{ database_connection_secret_url | b64encode }}
  database-user: {{ database_connection_secret_user| b64encode }}
kind: Secret
metadata:
  name: {{ database_connection_secret }}
  namespace: {{ namespace_devops }}
type: Opaque
{% else %}
{% endif %}

{% if tool_secrets == 'grafana' %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ admin_user_credentials_secret_grafana }}
  namespace: {{ namespace_monitoring }}
data:
  admin-password: {{ admin_passwordKey_grafana | b64encode }}
  admin-username: {{ admin_userKey_grafana | b64encode }}
type: Opaque
{% else %}
{% endif %}
